@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

* {
  font-family: 'Outfit', sans-serif;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}
  /* body.dark-mode {
    background-color: #121212;
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #ffffff;
  }
  
  .navbar.dark {
    background: #333;
    color: white;
  }
  
  button {
    padding: 8px 12px;
    cursor: pointer;
  } */
  .navbar.dark.partners-content {
    margin: 16px 110px;
    font-family: outfit;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
    font-size: 18px;
    color: blue  
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
